<div class="card">
    <div class="card-block">
        <h4 class="card-title">Contribute</h4>
        <button class="btn btn-primary btn-large">Review a game</button>
        <button class="btn btn-primary btn-large">Submit a game</button>
    </div>
</div>
<div class="card">
    <div class="card-block">
        <h4 class="card-title">Browse</h4>

        <ul class="nav nav-tabs">
            <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#all-games" role="tab">All games</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#my-games" role="tab">My games</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="all-games" role="tabpanel">
                <table class="table">
                    <thead>
                        <th>
                            <td>Black</td>
                            <td>White</td>
                            <td>Review Notes</td>
                            <td>Reviews</td>
                        </th>
                    </thead>
                </table>
                <p>There are no games yet... be the first to <a href="#">submit one</a>!</p>
            </div>
            <div class="tab-pane" id="my-games" role="tabpanel">
                <table class="table">
                    <thead>
                        <th>
                            <td>Black</td>
                            <td>White</td>
                            <td>Review Notes</td>
                            <td>Reviews</td>
                        </th>
                    </thead>
                </table>

                <button>Submit a game for review</button>
            </div>
        </div>
    </div>
</div>
