<div class="card">
    <div class="card-block">
        <h1><%= game_title(@game) %><br><small><%= game_subtitle(@game) %></small></h1>
        <p>
        <a class="btn btn-primary btn-large" href="#">Agree to review</a>
        <a class="btn btn-secondary btn-large" href="#">Download SGF</a>
        <a class="btn btn-secondary btn-large" href="#">Upload review</a>
        </p>

        <h2>Previous reviews</h2>
        <p>No reviews yet...</p>
    </div>
</div>
